<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top pr-4 pl-4">
    <a class="navbar-brand" href="">MetHotels</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="/">Home</a>
        </div>
    </div>
</nav>
<div class="container mt-4 mb-4">
    <div class="card p-3 mt-4 mb-4" style="margin: 0 auto;">
        <form (ngSubmit)="addRoom()">
            <div class="form-group row">
                <label for="title" class="col-sm-2 col-form-label">Naslov</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Naslov" id="title" required
                    [(ngModel)]="roomTitle" name="title" minlength="1">
                </div>
            </div>
            <div class="form-group row">
                <label for="number" class="col-sm-2 col-form-label">Broj sobe</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" placeholder="Broj sobe" id="number" required
                    [(ngModel)]="roomNumber" name="number" pattern="[\d]+" minlength="3">
                </div>
            </div>
            <div class="form-group row">
                <label for="price" class="col-sm-2 col-form-label">Cena</label>
                <div class="input-group col-sm-10">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroupPrepend">$</span>
                    </div>
                    <input type="number" class="form-control" placeholder="Cena" id="price" required [(ngModel)]="roomPrice"
                    name="price" pattern="[\d.]+" minlength="1">
                </div>
            </div>
            <div class="text-right">
                <div class="btn-group">
                    <button type="submit" class="btn btn-secondary btn-block">Dodaj</button>
                </div>
            </div>
        </form>
    </div>
    
    <h2>Sobe</h2>
    <hr><br>
    <div class="mb-5" *ngIf="this.rooms.length != 0">
        <div class="input-group md-form form-sm form-1 pl-0 mb-4">
            <input class="form-control my-0 py-1" type="number" placeholder="cena (gornja granica)" aria-label="Search"
            [(ngModel)]="searchPrice">
            <div class="input-group-append">
                <button class="btn btn-info" type="button" (click)="shuffle()">Izmešaj</button>
            </div>
            <div class="input-group-append">
                <button class="btn btn-secondary" type="button" (click)="search()">Pretraži</button>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="this.rooms">
        <div class="col-lg-4 col-md-6 mb-4" *ngFor="let r of this.filteredRooms">
            <room [room]="r"></room>
        </div>
    </div>
</div>